<h2>Products</h2>

<div class="product" *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <p class="price">
    {{ product.price | price: locale }}
  </p>

  <div class="cta-container">
    <div class="cta-container--1">
      <button type="button" (click)="share()">Add to cart</button>
    </div>
    <div class="cta-container--2">
      <button type="button">Favorite</button>
      <button type="button">Share</button>
    </div>
  </div>
</div>
